

#info {
    width: 1040px;
    height: 447px;
    margin: auto;
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
 
#info  h2{
   font: var(--subtitle);
   color: var(--gray-500);
}
     
#info span:nth-child(1) {
    color: var(--red-color);
}
 
#info  h1{
    margin-top: 8px;
    font: var(--title-lg);
    color: var(--gray-600);
}
 
#info p {
    font: var(--text-sm);
    color: var(--gray-400);
    margin-top: 20px;
}

#info header {
    width: 680px;
    height: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
   
}

.avatar {
   margin-bottom: 56px;
   border: 2px solid var(--red-color);
   border-radius: 999px;
   position: relative;
   
}

.vetor {
    position: absolute;
    left: 50px;
    bottom: -8px;
}

#tags span{
    font: var(--text-md);
    color: var(--gray-500);
}

#tags {
    display: flex;
    gap: 16px;
    
    
}

#tags {
    margin-top: 80px;
}

.git {
    padding: 8px 16px;
    background-color: var(--gray-300);
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.html {
    padding: 8px 16px;
    background-color: var(--gray-300);
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.css {
    padding: 8px 16px;
    background-color: var(--gray-300);
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.javascript {
    padding: 8px 16px;
    background-color: var(--gray-300);
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.react {
    padding: 8px 16px;
    background-color: var(--gray-300);
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.node {
    padding: 8px 16px;
    background-color: var(--gray-300);
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.next {
    margin-top: 94px;
    display: flex;
    justify-content: center;
}

#intro {
    width: 100%;
    background-image: url(/assets/images/intro.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}